<div class="container-xl">
  <% if user_signed_in? %>
    <%= link_to '記事を作成する', new_home_article_path, class: 'btn btn-danger mt-2 mb-3' %>
  <% end %>

  <h1 class="mb-3">みんなの記事</h1>

  <%= render partial: 'articles/articles', object: @articles %>
</div>
