.show-article,
.preview-article {
  h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    line-height: 2;
    margin: 16px auto;
  }

  h3 {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    padding-left: 16px;
    margin: 16px auto;
  }

  pre {
    background-color: #323232;
    color: #abb2bf;
    border: 1px solid #4b4b4b;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    padding: 16px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    margin-bottom: 8px;

    p.tableblock {
      margin: 0;
    }

    thead {
      background-color: #131313;
      text-align: left;
      border-bottom: 1px solid #111;

      th {
        text-align: left;
      }
    }

    th,
    td {
      border-left: 1px solid #111;
      padding: 0.5em 1.25em;

      &:last-child {
        border-right: 1px solid #111;
      }
    }

    tbody > tr {
      background: #303133;

      &:nth-child(2n) {
        background: #202020;
      }
    }
  }

  caption {
    font-style: italic;
  }
}
